<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body><center>
  <h2>Select your location:</h2>
<form action="/battle" method="POST">
  <select name="locationname">
    <option value="Viridian Forest">Viridian Forest</option>
    <option value="Mt.Moon">Mt.Moon</option>
    <option value="Route 25">Route 25</option>
    <option value="Pokemon Tower">Pokemon Tower</option>
    <option value="Rock Tunnel">Rock Tunnel</option>
    <option value="Route 15">Route 15</option>
    <option value="Fighting Dojo">Fighting Dojo</option>
    <option value="Route 19">Route 19</option>
    <option value="Victory Road">Victory Road</option>
    <option value="Indigo Plateau">Indigo Plateau</option>
  </select>
  <br><br>
 <h2>Who do you want to battle?</h2>
    <select name="choosetype">
    <option value="Pokemon">Pokemon</option>
    <option value="NPC">NPC</option>
  </select>
  <br><br>
  <input type="submit" value="Go!" /></form>
</form>

</center>

</body>


</html>