<html>
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body><center>
  <h1>Select your party:</h1>
<h2>(Pokemon must not be duplicate)</h2>
<form action="/result" method="POST">
    Pokemon 1
  <select name="playerparty1">
    <option value="Growlithe">Growlithe</option>
    <option value="Vulpix">Vulpix</option>
    <option value="Bellsprout">Bellsprout</option>
    <option value="Horsea">Horsea</option>
    <option value="Snorlax">Snorlax</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Venesaur" selected>Venesaur</option>
    <option value="Blastoise">Blastoise</option>
    <option value="Charizard">Charizard</option>
    <option value="Pidgeot">Pidgeot</option>
  </select>
  <br><br>
  Pokemon 2
    <select name="playerparty2">
    <option value="Growlithe">Growlithe</option>
    <option value="Vulpix">Vulpix</option>
    <option value="Bellsprout">Bellsprout</option>
    <option value="Horsea">Horsea</option>
    <option value="Snorlax">Snorlax</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Venesaur" >Venesaur</option>
    <option value="Blastoise" selected>Blastoise</option>
    <option value="Charizard">Charizard</option>
    <option value="Pidgeot">Pidgeot</option>
  </select>
  <br><br>
  Pokemon 3
    <select name="playerparty3">
    <option value="Growlithe">Growlithe</option>
    <option value="Vulpix">Vulpix</option>
    <option value="Bellsprout">Bellsprout</option>
    <option value="Horsea">Horsea</option>
    <option value="Snorlax">Snorlax</option>
    <option value="Pikachu">Pikachu</option>
    <option value="Venesaur">Venesaur</option>
    <option value="Blastoise">Blastoise</option>
    <option value="Charizard" selected>Charizard</option>
    <option value="Pidgeot">Pidgeot</option>
  </select>
<br><br>
  <input type="submit" value="Next" /></form>
</form>


</center>
</body>


</html>